*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #fff;
}

.container-contador{
    background: #000;
    padding: 20px;
}

.contador{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.icon,
.num{
    background: #111;
    color: #fff;
    padding: 18px;
    width: 80px;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px solid #333;
}

.num p{
    font-size: 3rem;
    font-weight: bold;
}

/* ICONO */
.icon .material-symbols-outlined {
    font-size: 48px;
    line-height: 1;
}
